/* Global styles */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

a {
  transition: all 0.35s;
  text-decoration: none;
}

a:hover,
a:focus {
  color: blanchedalmond;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: aliceblue;
}

hr.light {
  border-color: aquamarine;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
}

p {
  font-size: 15px;
}

section {
  padding: 100px 0;
}

section h2 {
  padding-bottom: 60px;
  text-align: center;
  font-size: 50px;
}

/* Navigation bar styles */
#mainNav {
  background-color: #21325a;
  transition: all 0.35s;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: blanchedalmond;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: rgb(238, 225, 204);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: white;
}

#mainNav .navbar-nav {
  margin-left: 0px !important;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: blanchedalmond;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* Form */
#form .form-control {
  border-radius: 0;
}

#form .form-control:focus {
  box-shadow: none;
}

#form input.form-control {
  height: 44px;
}

#form button {
  background-color: #21325a;
  color: white;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

/* Footer */
footer {
  background-color: #21325a;
  padding-top: 80px;
}

footer h4 {
  color: white;
  margin-bottom: 24px;
}

footer ul {
  list-style: none;
  color: white;
}

footer ul > li > a {
  color: white;
}

footer p {
  color: white;
}

.small-card-image {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
